.gameShow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(32, 168, 93);
    background-color: rgb(173, 214, 212);
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
}

.gameDesign {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    flex-wrap: wrap;
}

.gameButton {
    height: 2.5em;
    width: 7.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.2s;
    margin: 0.5em 0 0 0;
    border: 2px solid white;
    border-radius: 1em;
    background-color: rgb(37, 146, 117);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 500;
}

.gameButton:hover {
    transition: 0.2s;
    transition: 0.2s width;
    color: black;
    font-weight: 600;
    opacity: 50%;
}

.gamesNumber {
    border: 1px solid #000;
    width: 100%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    color: green;
}

.gameNumberId {
    background-color: white;
}

.pGames {
    color: green;
}

.paddingGame {
    padding: 1em;
}

.gamewithOutGames {
    background-color: rgb(173, 214, 212);
    height: 100vh;
}

.divhrefa {
    text-decoration: none;
}