* {
  margin: 0;
  padding: 0;
}

.containerDesign {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  flex-direction: column;
  align-items: center;
  background-color: rgb(173, 214, 212);
}

::-webkit-scrollbar {
  display: none;
}

.sportscenterShow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 11em;
  z-index: 2;
}

.sportscenterPic {
  height: 15em;
  width: 17em;
  transition: all 1s;
  border: 1px black solid;
  border-radius: 1em;
  cursor: pointer;
}

.sportscenterPic:hover {
  transition: 0.3s;
  z-index: 1 !important;
  border: 2px black solid;
  border-radius: 0.5em;
  opacity: 50%;
  cursor: pointer;
}

.titleDesign {
  margin: 1em 0 0 0;
  color: rgb(32, 168, 93);
  z-index: 4;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.idsportscenter {
  color: rgb(32, 168, 93);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  cursor: default;
}

.hometitle {
  color: rgb(51, 65, 54);
  cursor: default;
}

