.homebutton {
    height: 2.5em;
    width: 7.5em;
    transition: 0.2s;
    margin: 0.5em 0 0 0;
    border: 2px solid white;
    border-radius: 1em;
    background-color: rgb(37, 146, 117);
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-weight: 500;
}

.homebutton:hover {
    transition: 0.2s;
    transition: 0.2s width;
    color: black;
    font-weight: 600;
    opacity: 50%;
}

.profilebuttonprofile {
    cursor: pointer;
}

.homehome {
    cursor: default;
}

.align-right {
    display: block !important;
    margin: auto !important;
}

.collapse:not(.show) {
    display: none !important;
}

.propadel {
    color: rgb(32, 168, 93);
    font-weight: bold;
}

