.orderShow {
    margin-top: 2em;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.bookingNumber {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: green;
}

.orderDesign {
    display: flex;
    flex-direction: column;
    font-family: "Courier New", Courier, monospace;
    background-color: rgb(173, 214, 212);
    height: 100vh;
}

.pbooking {
    color: green;
    font-family: "Courier New", Courier, monospace;
}